*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}


.game-container{
    display: flex;
    height: 65vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.win-count-container{
    display: flex;
    min-width: 32rem;
    justify-content: space-around;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    gap: 1rem;
}

.grid-cell{
    height: 10rem;
    font-weight: 700;
    font-size: 3rem;
}

