*, *::before, *::after {
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
}

.form-container{
    width: 25%;
    height: 35vh;
    padding-top: 1.2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    justify-content: space-around;
    border-radius: 0.8rem;
}

.books-container{
    width: 50%;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0.8rem;
    margin: 3rem;
    display: none;
}

.book{
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    width: 90%;
    margin: 2rem auto;
    padding: 0.8rem;
    border-radius: 0.8rem;
    padding-left: 1.5rem;
}

button{
    width: fit-content;
    margin: 0 auto;
    padding: 0.8rem;
    border-radius: 0.8rem;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #3F51B5;
    color: #fff;

}

.read-label{
    margin: 0 auto;
    font-family: inherit;
}
#author, #title, #pages{
    padding: 0.8rem;
    width: 70%;
    margin: 0 auto;
    border-radius: 0.8rem;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

input{
    font-family: inherit;
}

.delete-button{
    margin-left: 1.2rem;
}

